#content{
	text-align: center;
    padding-top: 2%;
    color:black;
    text-shadow: 0px 3px 2px rgba(0,0,0,0.2),
    0px 13px 8px rgba(0,0,0,0.4);
}
#h1{
	font-weight: 700px;
	font-size: 5em;

}
hr{
	width:400px;
	border-top: 1px solid;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
body
{	
	background: url('https://images.unsplash.com/photo-1496588698044-1864cef7d583?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=937b58639093d87b14ecc07dd185a304&auto=format&fit=crop&w=1950&q=80');
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size: cover;
    background-repeat: no-repeat;
}
.container
{
	white-space: nowrap;
}